{% load static %}
{% block navbar %}

header class="header">
    <nav class="header__content">
        <div class="header__buttons">
            <a href="{% url 'Home'%}" name = 'Home' class="header__home">
                <img src={% static "assets/img/logo.png" %} width="130" height="43">
            </a>
        </div>

        <div class="header__search">
            <form method="POST" action="{% url 'Search' %}" name="Search" role="search">
                {% csrf_token %}
                <input type="text" name="imageSearch" placeholder="Search Usernames" />
            </form>
        </div>